
body {
  background: url("https://images2.alphacoders.com/100/thumb-1920-1003880.png") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
 
    }

    
    
    
    .container2 {
        margin-top: 150px;
      display: block;
      position: absolute;
      left: 0%;
      top: -40px;
      width: 280px;
      height: 100%;
      
    }
    
    .goku {
      width: 100%;
      height: 100%;
      background-image: url("http://vignette2.wikia.nocookie.net/fictional-battle-omniverse/images/8/8b/Goku_Dragon_Ball_Z.png/revision/latest?cb=20150508010447");
      background-size: 200px auto;
      background-repeat: no-repeat;
    
    }
    
    .goku:hover {
      background-image: url(http://vignette3.wikia.nocookie.net/vsbattles/images/5/56/Goku_%28Base%29.png/revision/latest?cb=20160315175220);
      background-size: 300px auto;
      cursor: pointer;
    }
    
    
    
.p_knowledge {
    background: linear-gradient(to bottom, yellow 0%, red 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  
  }

    
  .p_knowledge_home {
    margin-top:20px;
    background: linear-gradient(to bottom, rgb(14, 14, 1) 0%, red 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  
  }

  .p_home_card{text-decoration: underline;}

 


